In [1]:
import pandas as pd

In [4]:
a ={"casa":"1", "lampara":"cara"}

In [5]:
a

{'casa': '1', 'lampara': 'cara'}

In [6]:
def ver(a):
    print(*a)

ver(a)

casa lampara

In [8]:
import sqlalchemy as db
import os, sys

In [81]:
        engine = db.create_engine('sqlite:///Sobras.db')
        # self.engine = db.create_engine(resource_path('Sobras.db'))
        connection = engine.connect()
        metadata = db.MetaData()

        entrada_comida = db.Table('Entradas', metadata,
              db.Column('id', db.Integer(),primary_key=True),
              db.Column('nombre', db.String(255), nullable=False),
              db.Column('tipo', db.String(255), nullable=False),
              db.Column('fecha_entrada', db.Date() , default=True)
              )

        tabla_tipos = db.Table('Tipos', metadata,
              db.Column('tipo', db.String(50),primary_key=True),
              db.Column('naranja', db.Integer(), nullable=False),
              db.Column('rojo', db.Integer(), nullable=False) )

        metadata.create_all(engine) #Creates the table

In [82]:
# QUERY
query = db.select(entrada_comida)
result_Proxy = connection.execute(query)
result = result_Proxy.fetchall()
result

[(2, 'filete', 'carne', datetime.date(2023, 1, 18))]

In [29]:
import datetime

In [42]:
datetime.datetime(2020, 5, 18)

datetime.datetime(2020, 5, 18, 0, 0)

In [45]:
# date_time_obj = datetime.datetime.strptime(fecha, '%d/%m/%y %H:%M:%S')

In [46]:
# date_object = datetime.datetime.strptime(fecha,'%m-%d-%Y').date()
# date_object

In [48]:
#INSERT
nombre = "filete"
tipo = "carne"
fecha = datetime.datetime(2023, 1, 18)
query = db.insert(entrada_comida).values( nombre=nombre, tipo=tipo , fecha_entrada= fecha  ) 
ResultProxy = connection.execute(query)

In [50]:
# nombre = "filete"
# tipo = "carne"
# fecha = datetime.datetime(2023, 1, 18)
# query = db.insert(entrada_comida).values( *registro  ) 
# ResultProxy = connection.execute(query)

In [18]:
registro = ('merluza', 'pescado', '2023-05-01 00:00:00')

In [71]:
registro[2].split(" ")[0]

'2023-05-01'

In [77]:
fecha = registro[2].split(" ")[0]
if isinstance(fecha, str):
    fecha = datetime.datetime.strptime(fecha, '%Y-%m-%d')
fecha

'2023-05-01'

In [74]:
datetime.datetime.strptime(registro[2].split(" ")[0], '%Y-%m-%d')

datetime.datetime(2023, 5, 1, 0, 0)

In [64]:
query = db.delete(entrada_comida)

query = query.where(entrada_comida.columns.nombre == "filete")\
                    .where(entrada_comida.columns.tipo == "carne")\
                    .where(entrada_comida.columns.fecha_entrada == datetime.datetime(2020, 5, 18,0,0))  
connection.execute(query)